<%- include('../../partials/header.ejs') %>


    <h1>All Campgrounds:</h1>
    <section>
      <% for(let campground of campgrounds){ %>
      <a href="/campgrounds/<%=campground._id%>">
        <h1><%=campground.title%></h1>
        <% } %>
      </a>
    </section>

    <h2>
      <a href="/campgrounds/new"><button>Add new Campground</button></a>
    </h2>
<%- include('../../partials/footer.ejs') %>

