<%- include('../../partials/header.ejs') %>

<h1 class="text-center text-success">Add New Campground</h1>
<form action="/campgrounds" method="POST" novalidate class="validated-form">
  <div class="row d-flex flex-column align-items-center justify-content-center">
    <div class="form-group col-9 col-lg-6">
      <div>
        <label for="title text-whitesmoke">Title:</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          required
          placeholder="title"
        />
        <div class="valid-feedback">Nice Title to Go!</div>
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          UnValid Title!!
      </div>
      </div>

      <div class="form-group mt-2">
        <label for="price">Price:</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">$</div>
          </div>
          <input
            class="form-control"
            type="text"
            id="price"
            name="campground[price]"
            required
            placeholder="price"
          />
        </div>
      </div>

      <div>
        <label for="image">Image:</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="campground[image]"
          placeholder="image"
          required
        />
      </div>

      <div>
        <label for="location">Location:</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          placeholder="title"
          required
        />
      </div>

      <div>
        <label for="description">Description:</label>
        <input
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          required
          placeholder="description"
        />
      </div>
      <hr />
      <button class="btn btn-success" type="submit">
        Create New Campground
      </button>
    </div>
  </div>
</form>


<%- include('../../partials/footer.ejs') %>
